.layout {
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  padding: 15px;
}

.logo img {
  height: 100%;
  vertical-align: top;
}

.spacer {
  flex-grow: 1;
}

.profileMenu {
  align-self: center;
  margin-right: 15px;
  cursor: pointer;
}
