.layout {
  min-height: 100vh;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.padded {
  padding: 15px;
}

.accessory > * {
  margin-left: 12px;
}

@media print {
  .header {
    display: none;
  }
}
