.row {
  display: flex;
  padding: 8px;
}

.select {
  flex-grow: 1;
  flex-basis: 0;
  font-weight: bold;
}
.select:first-child {
  margin-right: 4px;
}
.select:last-child {
  margin-left: 4px;
}

.tag {
  margin-right: 0;
}
