.root :global(.ant-table),
.root :global(.ant-table-tbody > tr.ant-table-placeholder:hover > td),
.root :global(.ant-table-tbody > tr.ant-table-row > td),
.root :global(.ant-table-tbody > tr > td.ant-table-cell-row-hover) {
    background-color: #fafafa;
    border-top-color: rgba(5, 5, 5, 0.06) !important;
    border-bottom-color: rgba(5, 5, 5, 0.06) !important;
}

.cashout, .topup, .charge {
    font-weight: 500;
}

.cashout {
    color: #1890ff;
}

.topup {
    color: #389e0d;
}

.charge {
    color: #f5222d;
}

.loading {
    padding: 50px;
    text-align: center;
}