.container {
  max-width: 450px;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.titleGroup {
  flex-grow: 1;
  margin-left: 10px;
}

.title {
  margin: 0 !important;
  line-height: 100% !important;
  padding-top: 7px;
}
