.root {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #f0f0f0;
  padding: 12px 12px;
  margin-left: -12px;
  margin-right: -12px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.row {
  align-items: center;
  display: flex;
}

.root :global(.ant-input:focus),
.root :global(.ant-input-affix-wrapper-focused) {
  border-color: #40a9ff;
}

.root :global(.ant-input-affix-wrapper) input {
  text-align: right;
}

.index {
  font-weight: 500;
  background: #f9f9f9;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  width: 30px;
  padding: 3px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  flex-grow: 0;
  position: relative;
}

.index::after,
.index::before {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  height: 1px;
  left: 7px;
  right: 7px;
  transform: translateY(-50%);
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.index::after {
  bottom: 0px;
  top: auto;
}

.deposit {
  margin-top: -4px;
}
