.root {
    column-count: 3;
    column-gap: 20;
}

@media (max-width: 800px) {
    .root {
        column-count: 2;
    }
}

@media (max-width: 500px) {
    .root {
        column-count: 1;
    }
}

.heading {
    margin-top: 30px;
}