.table {
  overflow-x: scroll;
  border-radius: 5px;
  position: relative;
}

.th {
  color: #bbb;
  position: absolute;
  left: -0.5px;
  top: 10px;
  transform: translateX(-50%);
  font-size: 0.9em;
  font-weight: 600;
  /* background: #f7f7f7; */
  z-index: 2;
}
